.table {
  table-layout: auto;
}

.header th {
  padding: 12px;
  text-align: center;
  font-weight: var(--ifm-font-weight-bold);
  font-size: 16px;
  border-bottom-width: 1px;
}

[data-theme="light"] .header th {
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] .header th {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.row td {
  padding: 12px;
  vertical-align: middle;
}

[data-theme="light"] .row td {
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] .row td {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.monoFont {
  font-family: var(--ifm-font-family-monospace);
  font-size: 14.4px;
}

.feedIndexText,
.feedIdText {
  padding: 1.6px 4px;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: var(--ifm-global-radius);
  display: inline-block;
}

[data-theme="light"] .feedIdText,
[data-theme="light"] .feedIndexText {
  background-color: #f6f7f8;
  border-color: rgba(0, 0, 0, 0.1);
  color: #1c1e21;
}

[data-theme="dark"] .feedIdText,
[data-theme="dark"] .feedIndexText {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}

.feedIdContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 0;
}

.feedIdText {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: text;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .feedIdContainer {
    gap: 4px;
  }
}
