.card {
  border-radius: 11px;
  background-color: var(--ifm-card-background-color);
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  padding: 2.5rem 1.5rem;
  height: 100%;
}

[data-theme="dark"] .link {
  color: var(--ifm-color-gray-500);
}

[data-theme="light"] .link {
  color: #000000;
}

.link:hover {
  text-decoration: none;
  color: var(--ifm-color-gray-500);
}

.card:hover {
  transform: translateY(-10px);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.iconBox {
  width: 50px;
  height: 50px;
}

.featureSvg {
  width: 100%;
  height: 100%;
}

[data-theme="dark"] .featureSvg {
  /* height: 45px; */
  /* width: 200px; */
  fill: #ffffff;
}

[data-theme="light"] .featureSvg {
  /* height: 45px; */
  /* width: 200px; */
  fill: #000000;
}
