.heroSection {
  background-color: #f0f0f0;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* grid-template-rows: repeat(2, 1fr); */
}

.videoContainer {
  /* grid-area: 1 / 1 / 2 / 2;
  max-height: 600px;
  justify-self: center; */
  display: none;
}

[data-theme="dark"] .videoLight {
  display: none;
}

[data-theme="light"] .videoDark {
  display: none;
}

[data-theme="dark"] .heroSection {
  background-color: #1d1d1d;
  border-radius: 6px;
}

.content {
  padding: 40px 20px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-area: 1 / 1 / 2 / 3;
  z-index: 50;
}

.callToAction {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 20px;

  grid-area: 1 / 1 / 2 / 3;
}

.description {
  font-size: 24px;
  text-align: left;
  color: #777777;
  max-width: 70%;
  width: 500;
}

[data-theme="dark"] .description {
  color: #d1d1d1;
}

.heading {
  font-size: 32px;
  font-weight: var(--ifm-font-weight-semibold);
  text-align: left;
}

[data-theme="dark"] .heading {
  color: #d1d1d1;
}

.button {
  border-radius: 10px;
  color: #000000;
  padding: 10px 32px 10px 32px;
  font-size: 16px;
  font-weight: var(--ifm-font-weight-semibold);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.mobileImage {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: end;
  align-self: center;
}

@media (min-width: 996px) {
  .heroSection {
    /* background-image: url("/img/landing/splash.png");Ø
    background-position: right center;
    background-repeat: no-repeat; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .callToAction {
    justify-content: center;
    grid-area: 1 / 1 / 2 / 2;
  }

  .videoContainer {
    grid-area: 1 / 2 / 2 / 3;
    min-height: 550px;
    max-height: 550px;
    justify-self: start;
    padding-left: 100px;
    display: block;
  }

  .content {
    padding: 65px 20px;
    grid-area: 1 / 1 / 2 / 3;
  }

  .heading {
    font-size: 48px;
  }

  .button {
    font-size: 20px;
  }
}

[data-theme="dark"] .button {
  background-color: #ffffff;
  color: #000000;
}

[data-theme="light"] .button {
  background-color: #000000;
  color: #ffffff;
}
