.heroSection {
  background-color: var(--ifm-card-background-color);
  border-radius: 6px;
}

.content {
  padding: 65px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.callToAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  grid-area: 1 / 1 / 2 / 3;
}

.description {
  font-size: 24px;
  text-align: center;
}

.heading {
  font-size: 48px;
  font-weight: var(--ifm-font-weight-semibold);
  text-align: center;
}

@media (min-width: 996px) {
  .heroSection {
    background-image: url("/img/landing/splash.png");
    background-position: right -10% center;
    background-repeat: no-repeat;
  }
  .callToAction {
    align-items: flex-start;
    grid-area: 1 / 1 / 2 / 2;
  }
  .description {
    text-align: left;
  }
  .heading {
    text-align: left;
  }
}

.button {
  border-radius: 10px;
  color: #000000;
  padding: 10px 32px 10px 32px;
  font-size: 20px;
  font-weight: var(--ifm-font-weight-semibold);
  transition: all .2s ease-in-out;
}
.button:hover {
  text-decoration: none;
  transform: scale(1.1);
}

[data-theme="dark"] .button {
  background-color: #ffffff;
  color: #000000;
}
[data-theme="light"] .button {
  background-color: #000000;
  color: #ffffff;
}
