.socialLinksList {
  display: flex;
  gap: 22px;
}

.link {
  height: 22px;
  width: 22px;
}

.socialSvg {
  width: 100%;
  height: 100%;
}

/* Adjust opacity in dark mode to avoid icons being too bright */
[data-theme="dark"] .socialSvg {
  opacity: 0.6;
}

.socialSvg path {
  transition: fill var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.socialSvg:hover path {
  fill: var(--ifm-navbar-link-hover-color);
}
