.list {
  display: flex;
  gap: 22px;
}

.link {
  height: 22px;
  width: 22px;
}

.iconWrap {
  display: inline-flex;
  width: 20px;
  height: 20px;
}

.icon {
  width: 100%;
  height: 100%;
}

[data-theme="dark"] .icon {
  opacity: 0.6;
}

.icon path {
  transition: fill var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.icon:hover path {
  fill: var(--ifm-color-primary-light);
}
