.card {
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-global-radius-med);
  padding: 2rem;
  position: relative;
  display: flex;
  text-decoration: none;
  transition: all var(--ifm-transition-fast) ease;
  overflow: hidden;
  transition-property: border, box-shadow;
  box-shadow: none;
}

.card:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

[data-theme="dark"] .card:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgba(255, 255, 255, 0.2);
}

.content {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.title {
  display: block;
  font-family: var(--ifm-font-family-base);
  font-weight: var(--ifm-card-font-weight);
  font-size: var(--ifm-h3-font-size);
  color: var(--ifm-color-primary);
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
  line-height: var(--ifm-heading-line-height);
}

[data-theme="dark"] .title {
  color: #ffffff;
}

.date {
  font-family: var(--ifm-font-family-base);
  font-size: 0.9rem;
  font-weight: 400;
  color: #777777;
  margin-bottom: 0;
}

[data-theme="dark"] .date {
  color: #999999;
}

.description {
  font-family: var(--ifm-font-family-base);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  color: var(--ifm-card-description-color);
}

.arrow {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--ifm-color-primary);
  transition:
    transform 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

[data-theme="dark"] .arrow {
  color: #ffffff;
}
