.editThisPageLink,
.editThisPageLink:visited {
  color: var(--ifm-font-color-base);
  text-decoration: none;
  transition: color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.editThisPageLink:hover,
.editThisPageLink:focus-visible {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

[data-theme="dark"] .editThisPageLink:hover,
[data-theme="dark"] .editThisPageLink:focus-visible {
  color: var(--ifm-color-primary-lighter);
}

.externalIcon {
  margin-left: 0.3em;
  vertical-align: text-bottom;
  stroke: currentColor;
  transition: color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}
