.container {
  width: 100%;
  margin-top: 20px;
  padding: 30px 0;
  background-color: var(--ifm-footer-background-color);
  border-radius: 15px;
  box-shadow: none;
}

.formcontainer {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.elementcontainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.textstyle {
  font-size: 20px;
  color: var(--ifm-color-primary-darkest);
  font-weight: 700;
  margin-bottom: 20px;
}

.inputstyle {
  width: 65%;
  height: 50px;
  padding: 0 15px;
  border-radius: 25px;
  border: 1px solid var(--ifm-color-primary-lightest);
  background-color: #fff;
  color: #000;
}

.buttonstyle {
  width: 30%;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: var(--ifm-color-primary-lighter);
  cursor: pointer;
}

.buttonstyle:hover {
  background-color: var(--ifm-color-primary-dark);
}

@media screen and (max-width: 800px) {
  .formcontainer {
    width: 90%;
  }

  .inputstyle,
  .buttonstyle {
    width: 100%;
    margin-bottom: 10px;
  }
}

[data-theme="light"] .container {
  background-color: #f6f7f8;
}

[data-theme="light"] .textstyle {
  color: #1c1e21;
}

[data-theme="light"] .inputstyle {
  background-color: #fff;
  color: #000;
}

[data-theme="dark"] .container {
  background-color: #000;
}

[data-theme="dark"] .textstyle {
  color: #fff;
}

[data-theme="dark"] .inputstyle {
  background-color: #000;
  color: #fff;
}
