.card {
  border-radius: 11px;
  background-color: var(--ifm-card-background-color);
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  padding: 30px 24px;
  height: 100%;
  gap: 8px;
}
