/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e7125e;
  --ifm-color-primary-dark: #d01055;
  --ifm-color-primary-darker: #c40f50;
  --ifm-color-primary-darkest: #a20d42;
  --ifm-color-primary-light: #ee246c;
  --ifm-color-primary-lighter: #ef3074;
  --ifm-color-primary-lightest: #f2528b;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ef5262;
  --ifm-color-primary-dark: #ec3547;
  --ifm-color-primary-darker: #eb263a;
  --ifm-color-primary-darkest: #ce1326;
  --ifm-color-primary-light: #f26f7d;
  --ifm-color-primary-lighter: #f37e8a;
  --ifm-color-primary-lightest: #f7aab2;
}