.subLabel {
  display: flex;
  gap: 12px;
  text-transform: uppercase;
  color: var(--ifm-color-content-secondary);
  align-items: center;
}

.nextSubLabel {
  justify-content: flex-end;
}

.prevSubLabel {
  justify-content: flex-start;
}

.title {
  font-size: 1.3rem;
}
