.subLabel {
  display: flex;
  gap: 12px;
  text-transform: uppercase;
  color: var(--ifm-color-content-secondary);
}

.nextSubLabel {
  justify-content: flex-end;
}
.prevSubLabel {
  justify-content: flex-start;
}
