.footerContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  padding: 5rem;
  border-top: solid 1px;
}

@media (min-width: 996px) {
  .footerContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 0px;
  }
  .developerLinks {
    grid-area: 1 / 2 / 2 / 3;
  }
  .supportLinks {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.developerLinksTitle {
  font-weight: 700;
  font-size: 12px;
  color: #777777;
}
.developerLinks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.supportLinks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.displayedLinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.supportDisplayedLinks {
  display: flex;
  gap: 24px;
  color: #777777;
}

.devExternalLink {
  display: flex;
  gap: 6px;
  color: currentColor;
}
.supportExternalLink {
  color: currentColor;
  cursor: pointer;
  font-size: 14px;
}
