.footerContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  padding: 5rem;
  border-top: solid 1px;
}

@media (min-width: 996px) {
  .footerContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 0px;
  }
  .developerLinks {
    grid-area: 1 / 2 / 2 / 3;
  }
  .supportLinks {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.developerLinks {
  display: flex;
  flex-direction: column;
}
.supportLinks {
  display: flex;
  flex-direction: column;
}

.displayedLinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5em;
  grid-row-gap: 0px;
}

.supportDisplayedLinks {
  display: flex;
  gap: 2rem;
}
